<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470344817172-obfi71h2r66sbk7gavc92tlrj98ugh6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470344817172-obfi71h2r66sbk7gavc92tlrj98ugh6n</string>
	<key>API_KEY</key>
	<string>AIzaSyDPNNwt1lcYpYOLrpLHKwZ2ckW_QP5UFR4</string>
	<key>GCM_SENDER_ID</key>
	<string>470344817172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walk</string>
	<key>PROJECT_ID</key>
	<string>walkactivity</string>
	<key>STORAGE_BUCKET</key>
	<string>walkactivity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470344817172:ios:236bd72ab69584d4f3e501</string>
</dict>
</plist>